body {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Roboto Mono', monospace;

}

header,
nav,
main,
footer {
    margin: 1.25rem auto;
    max-width: 760px;
}

img {
   
    box-shadow: 1px 1px 2px black, 0 0 1em rgb(3, 3, 3), 0 0 0.2em rgb(47, 47, 53);

}

.header-format {
    display: grid;
    grid-template-columns: 1fr;
}

.name {
    margin-top: 60px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 28px;
}

header,
footer {
    background-color: #1976d2;
    color: #f5f3f4;
    text-align: center;
    padding: 1rem;

}

footer {
    font-size:15px ;
    font-family: 'Inconsolata', monospace;
}


a {
    font-family: 'Inconsolata', monospace;
    color: blue;
}

.heading-top {
    font-family: 'Inconsolata', monospace;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(3, 3, 3), 0 0 0.2em rgb(47, 47, 53);
    color: #595959;
}

.bottom-message {
    margin-top: 0px;
    color: #403d39;
     font-family: 'Inconsolata', monospace;

}
.update_text {
color: rgb(199, 199, 81);
}