/*small view  23 em */

p{font-family: 'Libre Franklin';
	padding:2px;

}

body {
	padding: 0;
	margin: 0 5%;
	
		

}

body #banner{
	display:none;
}

body #banner.event_news{
	display:block;
}

#banner p{
	text-align: center;
	background-color: beige;
	padding: 10px;
	font-size: 20px;
}

header {
	
	padding: 5px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	margin: 0 auto;
	border-bottom: 1px solid #bbb;
	display:grid;
	grid-template-columns: 2fr 1fr 1fr;
	background-color: #A4161A;
    color: #F5F3F4;
}
.logo {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}
.logo img {
	width: 60px;
	height: auto;
}


.headings {
	display: flex;
	flex-direction: column;
	margin-left: .5rem;
	font-family: 'Libre Franklin', sans-serif;
	
}
.headings h1 {
	font-size: 1.5rem;
    margin-bottom: 0px;
	

}
header nav{
	grid-column: 1/4;
	
}

button{
	width:30px;
	
}
ul li{
	margin-right: auto;
}


nav ul li a{
	font-family:'Libre Franklin', sans-serif; 
	color:white;
}

a:hover{background-color: rgb(50, 53, 51);}

.social {
	
    display: flex;
	grid-column:2/3 ;
	grid-row:1/2;
	margin-left: 35px;
	
}
.social img{
	width:30px;
	padding:5px;

}

.date {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem;
	background-color:#F5F3F4;
	grid-column: 1/4;
	text-align: center;
	color: black;
	font-family: 'Libre Franklin', sans-serif;
}


footer{ text-align: center;
	
	padding-bottom: 5px;
	background-color: #A4161A;
    color: #F5F3F4;
}

footer img{
      
    width: 60px;
	height:60px;
	margin-top: 15px;
  }
.info a{
	color: yellow;
}

/*wellcome in image spotlight*/
button.Btn-join{
	position:relative;
	top:174px;
	left:108px;
	width:200px;
	border-radius: 8px;
	padding:10px;
	font-size: 20px ;
	background-color: green;
}
div.hero{
	/*background-color: rgb(184, 174, 174);*/
	display:block;
	width:100%;
	border: 0px solid  rgb(117, 115, 115);
	padding:0px;
	height: 200px;
}

picture.myphoto{
	display:block;
	width:96%;
	margin:0 2%;
	position:relative;
	top:-40px;
	
}
main div picture.myphoto{
	width:100%;
}

/*event style*/
.event{
	background-color: rgb(66, 66, 219);
	
	border: 1px solid  rgb(117, 115, 115);
	padding:5px;
}

.event h1 {
	text-align: center;
	color: yellow;
}
.event h2 {
	text-align: center;
	color: white;
}
.event p{
	color: white;
	text-align: center;
}




/*whaeter style*/
.weather{
	background-color: rgb(66, 66, 219);
	border: 1px solid rgb(117, 115, 115);
	padding:5px;
	display: grid;
	grid-template-columns:1fr 1fr ;	
}
.weather_pic{
	grid-column:1/2 ;
	grid-row: 2/3;
	width:100px;
	padding-left: 60px;
	
}
.weather h1{
	grid-column:1/3 ;
	grid-row: 1/2;
	margin: auto;
	color:yellow;
}

.weather h2{
	grid-column: 1/3;
	grid-row: 3/4;
	margin:auto;
	color:white;
		
}

.weather .temp{
	grid-column: 1/3;
	grid-row:2/3;
	font-size: 15px;
	text-align: center;
}
.imagendeclima{
	grid-column: 1/3;
	grid-row:4/5;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;


}
.weather p{
	grid-column: 1/3;
	margin: auto;
	color:white;
	padding:2px;
}


/*release styles*/
.release{
	background-color: rgb(66, 66, 219);
	border: 1px solid  rgb(117, 115, 115);
	padding:5px;
}
.release h1{
	text-align: center;
	color:yellow;
}
.release p{
	color:white;
	text-align: center;
}


/* join styles*/

.join{
	background-color: rgb(184, 174, 174);
	height: 200px;
	border: 1px solid  rgb(117, 115, 115);
	padding:5px;
	display: none;
}

/*advertisements styles*/
.spotlight {
	background-color: rgb(66, 66, 219);
	padding:10px;
	margin:0;
	margin-bottom: 5%;	
}
/*spot1 styles*/
 .spot1{
	background-color: rgb(66, 66, 219);
	border: 1px solid  rgb(117, 115, 115);
	margin-bottom:0;
	padding: 8px;
	}
.spot1 .lawyers{
    width: 100px;
}
.lawyers{
	margin-left: 130px;	
}
.spot1 p{
	color: white;
	text-align: center;
	margin: auto;
}
.spot1 h1{
	text-align: center;
	color: yellow;
	margin-top: 0px;
	margin-bottom: 2px;
} 
.spot1 p{
	padding:2px;
}
.spot1 .slogan{
	margin-bottom: 10px;
}

/*spot2 styles*/
 .spot2{
	background-color: rgb(66, 66, 219);
	border: 1px solid  rgb(117, 115, 115);
	margin-top:0;
	padding: 8px;
	}

.spot2 h1{
	text-align: center;
	color: yellow;
	margin-top: 0px;
	margin-bottom: 2px;
}
.spot2 .math{
	width:100px;
	margin-left: 130px;
	
	
}
.spot2 p{
	margin: auto;
	color:white;
	text-align: center;
}


.spot3{
	display:none;
	background-color: rgb(184, 174, 174);
	height: 200px;
	border: 1px solid  rgb(117, 115, 115);
	margin-top:0;
	padding: 8px;
	
}


nav ul{display:none;}
nav ul.open{display:block;
	background-color: #6060ef;}

#hamburgerBtn span:nth-child(1) {display:flex;}
#hamburgerBtn span:nth-child(2) {display:none;}

#hamburgerBtn.open span:nth-child(1) {display:none;}
#hamburgerBtn.open span:nth-child(2) {display:flex;}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
	content: "";
	display: table;
	clear: both;
  }


  /*............discover page CSS...........*/

  
  

  figure.picture{
	  margin:2px;
	 
  }

.infograf p{
	margin-top: 1px;
	margin-bottom: 15px;
	line-height: 150%;

}

/*.........join page .............*/

form h1{
	text-align: center;
}
form fieldset{
    margin:2rem 0;
    border: 2px solid #950808;
    border-radius: 15px;
    padding: .5rem 2%
}
form legend{
    color: #2a00e6;
    margin:0 1rem;
    padding: 0 .5rem;
}

form label.top {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;
}
form div{
	display: block;
    padding-top: .5rem;
	color:white;
	background-color: rgb(104, 96, 96);

}

form label.top input, form label.top textarea{
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px rgb(27, 105, 207);
    border-radius: 4px;
    padding: .75rem;
    color: rgb(12, 12, 12);
    width:100%;
    max-width:20rem ;
    background-color: rgba(129, 120, 120, 0.1);

}
form label.sbs {
    display: block;
    padding: .75rem 0;
    color: black;
}

form input.submitBtn{
    border: none;
    
    background-color:#2707df ;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
form label.top input:required{
    border-left: red solid 6px;
}
form label.top input:required:valid{
    border-left: green solid 6px;

}


/*..........thankyou page..........*/

form{
	font-family: 'Libre Franklin'
}

.thanks{
	text-align: center;
}

/*............directory page ..........*/

.catalog{
	display:block;
	width:100%;
}
/* button list*/
.grid-list-btn{
	text-align: center;
	padding-bottom: 1rem;
    padding-top: 2rem;
}

.grid-list-btn button.selected{
	background-color: #9c9ca5;
	color:#49d437;
}

.grid-list-btn button:hover {
	cursor: pointer;
}



.grid-list-btn button{
	background-color: #5151b9;
    color: white;
    border: solid #e97474;
    padding-right: 30px;
	font-size: 20px;
	
}


/*.cards.list{
	display: block;
}
/*....*/


.cards{
	
	display:grid;
	grid-template: auto / repeat(1, minmax(auto, 1fr));
	padding:2px;
	grid-gap: 0rem;
	margin:auto;
}

/*images*/
.cards section{
	box-shadow: 1px 1px 5px;
	padding: 0rem;
	text-align: center;
	grid-gap: 1rem;
	box-shadow: #222121;
	margin:1rem;
	padding-bottom: 2rem;
	padding-top: 0rem;

}

.cards section img {
    width: 100%;
    height: 200px;
	width:200px;
    object-fit: contain;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.cards section p{
	font-family: 'Libre Franklin', sans-serif;
	position: relative;
	top:-40px;
	
}

.cards section a{
	font-family: 'Libre Franklin', sans-serif;
	position: relative;
	top:-40px;
}


/*table*/
table tr th:nth-of-type(4){
	display: none;
}

table{
	width:100%;
	border-spacing: 0px;
	margin-left:50px;
	margin-right: 50px;
	border:solid black;
	font-family: 'Libre Franklin', sans-serif;
}

thead{
	background-color: #594baa;
	color:white;	
}

thead tr th{
	padding:1rem 1.5rem;
}

tbody tr th{
	padding:1rem 1.5rem;

}

tbody tr:nth-child(odd) {
    background-color: #e0d9d9;
}



